/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 26, ../_sass/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 28, ../_sass/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 30, ../_sass/_base.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 36, ../_sass/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 39, ../_sass/_base.scss */
ul, ol {
  margin: 0;
  padding: 0 0 0 1.7em;
  list-style: disc;
}

/* line 40, ../_sass/_base.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 42, ../_sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 45, ../_sass/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 48, ../_sass/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 49, ../_sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 50, ../_sass/_base.scss */
.clearfix {
  zoom: 1;
}

/* line 39, ../_sass/style.scss */
body {
  font: normal 100%/1.7 Cambria, Garamond, Georgia, Times, serif;
  background-color: white;
  color: #474747;
}

/* line 44, ../_sass/style.scss */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 47, ../_sass/style.scss */
h1 {
  font-size: 2em;
  padding: .2em 0 .3em;
}

/* line 51, ../_sass/style.scss */
h2 {
  font-size: 1.7em;
  padding: .2em 0 .1em;
}

/* line 55, ../_sass/style.scss */
h3 {
  font-size: 1.4em;
  padding: .4em 0 .1em;
}

/* line 62, ../_sass/style.scss */
strong {
  font-weight: bold;
}

/* line 65, ../_sass/style.scss */
em {
  font-style: italic;
}

/* line 69, ../_sass/style.scss */
a, a:visited {
  text-decoration: none;
  color: #474747;
  padding: .1em .2em;
  border-bottom: 1px solid #f3da25;
  background-color: #fbf3b6;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

/* line 78, ../_sass/style.scss */
a:hover, a:active, a:focus {
  background-color: #f3da25;
}

/* line 82, ../_sass/style.scss */
img {
  border: 0.5em solid white;
}

/* line 86, ../_sass/style.scss */
article {
  padding: .5em 1em 1.2em 0;
}

/* line 90, ../_sass/style.scss */
section, footer {
  background-color: #606060;
  margin-top: 1em;
}

/* line 95, ../_sass/style.scss */
.center {
  text-align: center;
}

/* line 99, ../_sass/style.scss */
.west {
  display: inline;
  float: left;
  width: 31%;
  text-align: right;
  padding: 0 2%;
  color: white;
}
/* line 106, ../_sass/style.scss */
.west a {
  color: white;
  background-color: transparent;
}
/* line 112, ../_sass/style.scss */
.west a:hover {
  color: #474747;
  background-color: #fbf3b6;
}
/* line 118, ../_sass/style.scss */
.west img {
  margin-top: 1em;
}
/* line 122, ../_sass/style.scss */
.west h2, .west h3 {
  padding-right: 0;
}

/* line 127, ../_sass/style.scss */
.east {
  display: inline;
  float: left;
  width: 40em;
  background-color: #f2f2f2;
}
/* line 132, ../_sass/style.scss */
.east p {
  padding: .5em .5em .2em;
}
/* line 135, ../_sass/style.scss */
.east li p {
  padding: .2em 0;
}

/* line 140, ../_sass/style.scss */
div.east {
  padding: .3em .5em .5em;
}

/* line 149, ../_sass/style.scss */
#header {
  margin-bottom: 2em;
  background-color: #606060;
  height: 4.5em;
}
/* line 154, ../_sass/style.scss */
#header h1 {
  color: #f3da25;
}

/* line 159, ../_sass/style.scss */
#nav {
  padding: 0 0.5em;
  background-color: white;
}
/* line 163, ../_sass/style.scss */
#nav li {
  float: left;
  margin: 0 0.5em;
}

/* line 169, ../_sass/style.scss */
#nav a, #nav a:visited {
  display: block;
  width: 9em;
  height: 3.5em;
  padding: 1em 0 0;
  text-align: center;
  background-color: #7a7a7a;
  color: white;
  border: none;
}

/* line 182, ../_sass/style.scss */
#nav a:active, #nav a:hover {
  background-color: #6d6d6d;
}

/* line 185, ../_sass/style.scss */
#nav a.active {
  background-color: #606060;
  color: #f3da25;
}

/* line 190, ../_sass/style.scss */
#nav a span {
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 199, ../_sass/style.scss */
#home img {
  width: 18em;
  margin: 0.5em 0 0 0.5em;
}
