/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 26, ../_sass/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 28, ../_sass/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 30, ../_sass/_base.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 36, ../_sass/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 39, ../_sass/_base.scss */
ul, ol {
  margin: 0;
  padding: 0;
}

/* line 40, ../_sass/_base.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 42, ../_sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 45, ../_sass/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 48, ../_sass/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 49, ../_sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 50, ../_sass/_base.scss */
.clearfix {
  zoom: 1;
}

/* line 33, ../_sass/style.scss */
body {
  font: normal 100%/1.7 Cambria, Garamond, Georgia, Times, serif;
  background-color: white;
  color: #474747;
}

/* line 38, ../_sass/style.scss */
h1, h2, h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 41, ../_sass/style.scss */
h1 {
  font-size: 2em;
  padding: .2em .9em .3em;
}

/* line 45, ../_sass/style.scss */
h2 {
  font-size: 1.7em;
  padding: .2em 0 .1em;
}

/* line 49, ../_sass/style.scss */
h3 {
  font-size: 1.4em;
  padding: .4em 0 .5em;
}

/* line 53, ../_sass/style.scss */
strong {
  font-weight: bold;
}

/* line 57, ../_sass/style.scss */
a, a:visited {
  text-decoration: none;
  color: #474747;
  padding: .2em .2em;
  border-bottom: 1px solid #f3da25;
}

/* line 63, ../_sass/style.scss */
a:active, a:hover {
  background: #fbf3b6;
}

/* line 67, ../_sass/style.scss */
img {
  border: 10px solid #ececec;
}

/* line 74, ../_sass/style.scss */
.west, #content h2 {
  display: inline;
  float: left;
  width: 32.2%;
  text-align: right;
  padding: 0 2%;
  color: white;
}
/* line 84, ../_sass/style.scss */
.west a, #content h2 a {
  color: white;
}
/* line 88, ../_sass/style.scss */
.west h1, #content h2 h1, .west h2, #content h2 h2, .west h3, #content h2 h3 {
  padding-right: 0;
}

/* line 93, ../_sass/style.scss */
.east, #content p, #content ul {
  display: inline;
  float: left;
  width: 61.8%;
  padding: 0 1%;
}

/* line 105, ../_sass/style.scss */
.category-menu {
  height: 200px;
}

/* line 114, ../_sass/style.scss */
#content article {
  padding: .5em 1em 1.2em 0;
}
/* line 118, ../_sass/style.scss */
#content header p {
  font-size: .9em;
  font-style: italic;
  color: #7a7a7a;
  margin: 0 0 .8em .5em;
}
/* line 127, ../_sass/style.scss */
#content section {
  background-color: #606060;
  margin-bottom: 2em;
}
/* line 136, ../_sass/style.scss */
#content p, #content ul {
  background-color: white;
}

/* line 147, ../_sass/style.scss */
#header {
  margin-bottom: 2em;
  background-color: #606060;
}
/* line 151, ../_sass/style.scss */
#header h1 {
  color: #f3da25;
}

/* line 156, ../_sass/style.scss */
#nav {
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 164, ../_sass/style.scss */
#nav ul {
  background-color: white;
}
/* line 168, ../_sass/style.scss */
#nav li {
  float: left;
  text-align: center;
  border-width: 0 0.25em;
  border-style: solid;
  border-color: white;
}
/* line 176, ../_sass/style.scss */
#nav li:first-child {
  border-left-width: 0.5em;
}
/* line 179, ../_sass/style.scss */
#nav li:last-child {
  border-right-width: 0.5em;
}

/* line 185, ../_sass/style.scss */
#nav a, #nav a:visited {
  display: block;
  width: 7em;
  padding: .9em 0 .7em;
  border: none;
  background-color: #7a7a7a;
  color: white;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 195, ../_sass/style.scss */
#nav a:active, #nav a:hover {
  background-color: #6d6d6d;
}

/* line 198, ../_sass/style.scss */
#nav a.active {
  background-color: #606060;
  color: #f3da25;
}
