/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0@rails313/gems/compass-0.12.alpha.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 26, ../_sass/_base.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 28, ../_sass/_base.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 30, ../_sass/_base.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 36, ../_sass/_base.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 38, ../_sass/_base.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 39, ../_sass/_base.scss */
nav ul, nav ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 41, ../_sass/_base.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
/* line 44, ../_sass/_base.scss */
a:hover, a:active {
  outline: 0;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 47, ../_sass/_base.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 48, ../_sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 49, ../_sass/_base.scss */
.clearfix {
  zoom: 1;
}

/* line 8, ../_sass/_misc.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px;
  background-color: #F5F5F5;
}

/* line 14, ../_sass/_misc.scss */
::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

/* line 19, ../_sass/_misc.scss */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: #b9b9b9;
}

/* line 19, ../_sass/style.scss */
body {
  font: normal 100%/1.7 Cambria, Garamond, Georgia, Times, serif;
  background-color: white;
  color: #474747;
}

/* line 24, ../_sass/style.scss */
h1, h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 31, ../_sass/style.scss */
h1 {
  font-size: 2em;
  padding: .2em .9em .3em;
}

/* line 35, ../_sass/style.scss */
h2 {
  font-size: 1.7em;
  padding: .4em 0 .1em;
}

/* line 39, ../_sass/style.scss */
h3 {
  padding: .4em .5em .5em 1em;
}

/* line 42, ../_sass/style.scss */
strong {
  font-weight: bold;
}

/* line 46, ../_sass/style.scss */
a, a:visited {
  text-decoration: none;
  color: #474747;
  padding: .2em .2em;
  border-bottom: 1px solid #f3da25;
}

/* line 52, ../_sass/style.scss */
a:active, a:hover {
  background: #fbf3b6;
}

/* line 56, ../_sass/style.scss */
img {
  border: 10px solid #ececec;
}

/* line 64, ../_sass/style.scss */
#sidebar {
  display: inline;
  float: left;
  width: 36.2%;
  background-color: #606060;
  color: white;
  text-align: right;
}
/* line 71, ../_sass/style.scss */
#sidebar a {
  color: white;
}

/* line 76, ../_sass/style.scss */
#sidebar-inner {
  padding-right: 1.9em;
}

/* line 82, ../_sass/style.scss */
#content {
  display: inline;
  float: right;
  width: 63.8%;
  -webkit-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 0 rgba(0, 0, 0, 0.1);
}
/* line 87, ../_sass/style.scss */
#content article {
  padding: .5em 1em 1.2em 0;
}
/* line 91, ../_sass/style.scss */
#content header p {
  font-size: .9em;
  font-style: italic;
  color: #7a7a7a;
  margin: 0 0 .8em .5em;
}
/* line 100, ../_sass/style.scss */
#content h2 {
  font-weight: normal;
  font-family: Cambria, Garamond, Georgia, Times, serif;
  letter-spacing: 0;
}

/* line 107, ../_sass/style.scss */
#content-inner {
  margin-left: 2em;
}

/* line 111, ../_sass/style.scss */
#header {
  margin-bottom: 2em;
}
/* line 114, ../_sass/style.scss */
#header div {
  display: inline;
  float: left;
  width: 36.2%;
  text-align: right;
  background-color: #606060;
  color: #f3da25;
}

/* line 123, ../_sass/style.scss */
#nav {
  display: inline;
  float: left;
  width: 63.8%;
  background-color: #606060;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
/* line 133, ../_sass/style.scss */
#nav ul {
  background-color: white;
}
/* line 138, ../_sass/style.scss */
#nav li {
  float: left;
  text-align: center;
  border-width: 0 0.25em;
  border-style: solid;
  border-color: white;
}
/* line 147, ../_sass/style.scss */
#nav li:first-child {
  border-left-width: 0.5em;
}
/* line 150, ../_sass/style.scss */
#nav li:last-child {
  border-right-width: 0.5em;
}

/* line 156, ../_sass/style.scss */
#nav a, #nav a:visited {
  display: block;
  width: 7em;
  padding: .9em 0 .7em;
  border: none;
  background-color: #606060;
  color: white;
  font-weight: 100;
  letter-spacing: .1em;
}

/* line 166, ../_sass/style.scss */
#nav a:active, #nav a:hover {
  background-color: #7a7a7a;
}

/* line 169, ../_sass/style.scss */
#nav a.active {
  background-color: #939393;
}
