{% if page.url contains '/expositions' %}{% assign menu_expositions = true %}{% endif %}
{% if page.url contains '/ateliers' %}{% assign menu_ateliers = true %}{% endif %}
{% if page.url contains '/parcours' %}{% assign menu_parcours = true %}{% endif %}
{% unless menu_expositions or menu_ateliers or menu_parcours %}{% assign menu_oeuvres = true %}{% endunless %}

<header id="header" class="clearfix">

  <div class="west">
    <h1>{{ site.author.name }}</h1>
  </div>

  <nav id="nav" class="east">
    <ul>
      <li><a href="{{ site.root }}/" {% if menu_oeuvres %} class="active" {% endif %}>oeuvres</a></li>
      <li><a href="{{ site.root }}/expositions" {% if menu_expositions %} class="active" {% endif %}>expositions</a></li>
      <li><a href="{{ site.root }}/ateliers" {% if menu_ateliers %} class="active" {% endif %}>ateliers</a></li>
      <li><a href="{{ site.root }}/parcours" {% if menu_parcours %} class="active" {% endif %}>parcours</a></li>
    </ul>
  </nav>

</header>