{% if page.url contains '/expositions' %}{% assign menu_expositions = true %}{% endif %}
{% if page.url contains '/ateliers' %}{% assign menu_ateliers = true %}{% endif %}
{% if page.url contains '/parcours' %}{% assign menu_parcours = true %}{% endif %}
{% if page.url contains '/stages' %}{% assign menu_stages = true %}{% endif %}
{% unless menu_expositions or menu_ateliers or menu_parcours or menu_stages %}{% assign menu_oeuvres = true %}{% endunless %}

<header id="header" class="clearfix">

  <div class="west">
    <h1>{{ site.author.name }}</h1>
  </div>

  <nav id="nav" class="east">
    <ul>
      <li><a style="width:7em;" href="{{ site.root }}/"{% if menu_oeuvres %} class="active"{% endif %}><span>oeuvres</span></a></li>
      <li><a style="width:9em;" href="{{ site.root }}/expositions"{% if menu_expositions %} class="active"{% endif %}><span>expositions</span></a></li>
      <li><a style="width:6.4em;" href="{{ site.root }}/ateliers"{% if menu_ateliers %} class="active"{% endif %}><span>ateliers</span></a></li>
      <li><a style="width:6em;" href="{{ site.root }}/stages"{% if menu_stages %} class="active"{% endif %}><span>stages</span></a></li>
      <li><a style="width:7.6em;" href="{{ site.root }}/parcours"{% if menu_parcours %} class="active"{% endif %}><span>parcours</span></a></li>
    </ul>
  </nav>

</header>
