 <article>
  <header>
    <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
    <p>
      Publié le <time pubdate datetime="{{ post.date | html_global_date }}">{{ page.date | date: '%d/%m/%Y' }}</time>, dans la catégorie 
      {% for category in page.categories %}
       <strong><a href="/{{ category | downcase }}">{{ category }}</a></strong>
      {% endfor %}.
    </p>
  </header>
  {% if content %}
    {{ content }}
  {% else %}
    {{ page.content }}
  {% endif %}
  <footer>
  </footer>
</article>
