@import "base";
@import "misc";

$font-family-light: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family: Cambria, Garamond, Georgia, Times, serif;

@mixin font-normal() {
  font-family: $font-family;
  font-weight: normal;
  letter-spacing: 0;
}

@mixin font-light() {
  font-family: $font-family-light;
  font-weight: 100;
  letter-spacing: .05em;
}

$color-dark: #606060;
$color-light: lighten($color-dark, 90%);
$color-bright: #F3DA25;
$color-bg: #ffffff;
$color-bg-content: darken($color-bg, 5%);

$font-color: darken($color-dark, 10%);

$width-left: 35%;
$width-gutter: .5em;

$height-header: 4.5em;
$width-content: 40em;

$image-border-width: .5em;


body {
  font: normal 100%/1.7 $font-family;
  background-color: $color-bg;
  color: $font-color;
}
h1, h2, h3{
  @include font-light;
}
h1 {
  font-size: 2em;
  padding: .2em 0 .3em;
}
h2 {
  font-size: 1.7em;
  padding: .2em 0 .1em;
}
h3 {
  font-size: 1.4em;
  padding: .4em 0 .1em;
}
// p {
//   padding: .5em 0 .2em;
// }
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}

a {
  text-decoration: none;
  color: $font-color;
  padding: .1em .2em;
  border-bottom: 1px solid $color-bright;
  background-color: lighten($color-bright, 30%);

  @include transition-duration(.2s);

  &:visited {
    
  }

  &:hover, &:active, &:focus {
    background-color: $color-bright;
  }
}

img, a img {
  border: $image-border-width solid $color-bg;
}

// article {
//   padding: .5em 1em 1.2em 0;
// }

section, article, footer {
  background-color: $color-dark;
  margin-top: 1em;
}

.center {
  text-align: center;
}

.west {
  @include float-left;
  width: $width-left - 4%;
  text-align: right;
  padding: 0 2%;
  color: $color-light;

  a {
    color: $color-light;
    background-color: transparent;

    &:hover {
      color: $font-color;
      background-color: $color-bright;
    }
  }

  img {
    margin-top: 2 * $width-gutter;
  }

  h2, h3 {
    padding-right: 0;
  }
}

.east {
  @include float-left;
  width: $width-content;
  background-color: $color-bg-content;
  padding: .3em $width-gutter .5em;

  p {
    padding: .5em $width-gutter .2em;
  }

  li p {
    padding: .2em 0;
  }

  img {
    width: $width-content - 2 * $image-border-width - 2 * $width-gutter;
    margin: $image-border-width 0 0 $image-border-width;
  }
}


#home {
  img {
    // Two images side by side horizontally for the homepage.
    width: $width-content / 2 - 4 * $image-border-width;
    height: $width-content / 2 - 4 * $image-border-width;
  }
}

a.img {
  border: none;
  padding: 0;
  background-color: transparent;
  &:hover img {
    border: $image-border-width solid lighten($color-dark, 30%);
  }
}


// #content {
// @include float-right;
// width: $width-right;
// @include box-shadow(-10px 0 0 rgba(0,0,0,.1));

#header {
  margin-bottom: 2em;
  background-color: $color-dark;
  height: $height-header;

  h1 {
    color: $color-bright;
  }
}

#nav {
  padding: 0 $width-gutter;
  background-color: $color-bg;

  li {
    float: left;
    margin: 0 $width-gutter;
  }

  a {
    display: block;
    width: ($width-content - 8 * $width-gutter) / 4;
    height: $height-header - 1em;
    padding: 1em 0 0;

    text-align: center;

    background-color: lighten($color-dark, 10%);
    color: $color-light;
    
    border: none;

    &:visited {
      
    }
    &:active, &:hover {
      background-color: lighten($color-dark, 5%);
    }
   
    &.active {
      background-color: $color-dark;
      color: $color-bright;
    } 
    
    span {
      @include font-light;
      font-size: 1.3em;
    }
  }
}

footer {
  margin-top: 2em;
}

