---
layout: default
title: Ateliers
---

{% capture intro %}
{% include ateliers/intro.md %}
{% endcapture %}
{% capture la_roche %}
{% include ateliers/la-roche.md %}
{% endcapture %}
{% capture montaigu %}
{% include ateliers/montaigu.md %}
{% endcapture %}
{% capture chantonnay %}
{% include ateliers/chantonnay.md %}
{% endcapture %}
{% capture aizenay %}
{% include ateliers/aizenay.md %}
{% endcapture %}
{% capture challans %}
{% include ateliers/challans.md %}
{% endcapture %}

<section class="clearfix">
  <h2 class="west">Ateliers Aquarelle 2015/2016</h2>
  <div class="east">
  {{ intro | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">La Roche sur Yon</h2>
  <div class="east">
  {{ la_roche | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">Aizenay</h2>
  <div class="east">
  {{ aizenay | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">Chantonnay</h2>
  <div class="east">
  {{ chantonnay | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">Montaigu</h2>
  <div class="east">
  {{ montaigu | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">Challans</h2>
  <div class="east">
  {{ challans | markdownify }}
  </div>
</section>

<section class="clearfix">
  <h2 class="west">Inscription</h2>
  <div class="east">
  Pour toute information et inscription : <strong>06 88 67 78 82</strong> (en fonction des places disponibles)
  </div>
</section>
